.card-upload{
    background-color: rgba(255, 255, 255, 0);
    border-left: 1px solid rgba(0, 0, 0, 0.205);
    border-right: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}

mat-card-title{
    font-size: 20px;
}

mat-icon{
   transform: scale(1);
}