mat-card {
    background-color: rgba(255, 255, 255, 0);
    border-left: 1px solid rgba(0, 0, 0, 0.205);
    border-right: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    border-radius: 0px;
}

mat-card-title {
    font-size: 20px;
}

mat-icon {
    transform: scale(1);
    font-weight: 50 !important;
    font-size: 19px;
}

mat-form-field {
    width: 100%;
}

textarea {
    resize: none;
}


img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
}

.tweet-button{
    border-radius: 20px !important;
}

.spinner-position{
    top: 0.5em;
    left: -1em;
}

.fixed, .fixed-img-tweet{
    width: 60px;
}


.button-permission{
    padding-left: 0;
}

.button-options{
    top: -1em;  
}

.tweet-size{
    display: block;
    width: 30em;
    word-wrap: break-word;
}

.title-name{
    font-weight:bold;
}

.title-username{
    font-size: small;
    color: gray;
}

.tweet-actions-container{
    padding-left: 4em;
    padding-right: 5em;
}

@media only screen  and (min-width: 300px) and (max-width: 800px){
    .img-tweet{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        position: relative;
    }

    .fixed-img-tweet{
        width: 30px;
        padding-left: 0;
    }

    .tweet-size{
        display: block;
        width: 17em;
        word-wrap: break-word;
    }

    .tweet-actions-container{
        padding-left: 2em;
        padding-right: 5em;
    }
   
}

